doctype html 
html 
    head
        include bootstrap.pug
    body.bg-dark
            nav.navbar.navbar-light.bg-light.navbar-expand-sm
                //-navbar brand
                //-can also use images here it will be managed automatically to fit navbar
                a.navbar-brand(href="#") Student Portal 
                //-navbar toggler
                button.navbar-toggler(data-toggle="collapse" data-target="#bar" type="button")
                    span.navbar-toggler-icon
                //-navbar items
                .collapse.navbar-collapse.justify-content-end#bar
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") Home 
                        li.nav-item
                            a.nav-link(href="#") Messages
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#") Notifications
                            .dropdown-menu
                                    a.dropdown-item(href="#") Link1
                                    a.dropdown-item(href="#") Link2 
                                    a.dropdown-item(href="#") Link3 
                    //-inline form which is also a navbar item
                    form.form-inline
                                .input-group
                                    .input-group-prepend
                                        span.ml-sm-2.input-group-text @
                                    input.form-control(placeholder="Username" type="text")