doctype html
html
    head 
        include bootstrap.pug
        style
            include animation.css
    body#body.bg-dark
        .container-fluid(style="height:100vh")
            .d-flex.flex-column.justify-content-center.align-items-center(style="height:100%")
                .d-flex.flex-column.bg-white.rounded.p-5#element
                    include loginForm.pug
    script
        include script.js