doctype html
html
    head 
        include bootstrap.pug
    body#body.bg-dark.text-white
        .container-fluid(style="height:100vh")
            .d-flex.flex-column.justify-content-center.align-items-center(style="height:100%")
                    .display-4 #{message}
    